<div layout="row" layout-align="center center">
    <div>
        <h1>Financial Reports</h1>
    </div>
</div>

<div layout="row" layout-align="center center">
    <div>
        <h2>Number of Employees</h2>
    </div>
</div>


<div layout="row" layout-align="center center">

    <div flex>
        <h2 class="column-heading">Average Salary</h2>
        <h3 ng-model="vm.averageSalary"></h3>
    </div>

    <div flex>     
        <h2 class="column-heading">Max Salary</h2>
        <h3 ng-model="vm.maxSalary"></h3>
    </div>

    <div flex>
        <h2 class="column-heading">Min Salary</h2>
        <h3 ng-model="vm.minSalary"></h3>
    </div>
</div>
