<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Employee ID</th>
        <th>Salary</th>
        <th>Job Title</th>
        <th>Hire Date</th>
        <th>Update</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr ng-repeat="employee in vm.employee.list">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.employeeId}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.jobTitle}}</td>
            <td>{{employee.hireDate | date: 'M/d/yyyy'}}</td>
            <td><button class="btn btn-primary" ng-click="vm.updateEmployee(employee)">Update</button></td>
            <td><button class="btn btn-primary" ng-click="vm.deleteEmployee(employee._id)">Delete</button></td>
            <md-dialog aria-label="{{employee.firstName}} {{employee.lastName}}">
                {{employee.firstName}}
            </md-dialog>
        </tr>
    </tbody>
</table>
