<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Employee ID</th>
        <th>Salary</th>
        <th>Job Title</th>
        <th>Hire Date</th>
        <th>Update</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr ng-repeat="employee in vm.employee.list">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.employeeId}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.jobTitle}}</td>
            <td>{{employee.hireDate | date: 'M/d/yyyy'}}</td>
            <td><md-button class="md-primary" ng-click="mc.showAdvanced($event)">Update</md-button></td>
            <td><md-button class="md-primary" ng-click="vm.deleteEmployee(employee._id)">Delete</md-button></td>
            <!-- <md-dialog aria-label="{{employee.firstName}} {{employee.lastName}}">
                {{employee.firstName}}
            </md-dialog> -->
        </tr>
    </tbody>
</table>

<md-content layout-gt-sm="row">
    <md-input-container>
        <label>First Name</label>
        <input type="text" ng-model="vm.newEmployee.firstName">
    </md-input-container>
    <md-input-container>
        <label>Last Name</label>
        <input type="text" ng-model="vm.newEmployee.lastName">
    </md-input-container>   
    <md-input-container>
        <label>Job Title</label>
        <input type="text" ng-model="vm.newEmployee.jobTitle">
    </md-input-container>
</md-content>
<md-content layout-gt-sm="row">
    <md-button ng-click="vm.addEmployee(vm.newEmployee)" type="submit">Submit</md-button>
</md-content>
